# Privy App ID - Get this from https://privy.io/
# Register your app and copy the App ID from the dashboard
VITE_PRIVY_APP_ID=cmnsvstup00350cl7lhnmal02
#Local
# VITE_API_URL=http://localhost:3001
VITE_API_URL=https://nexpay-production.up.railway.app





